body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

ul {
	list-style: none;
}

img {
	border-style: none;
}

body {
	margin: 0;
	font-size: 0.24rem;
	color: #000;
	background-color: #f3f3f3;
	font-family: "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, STHei, \534E\6587\7EC6\9ED1, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
	display: block;
}

i {
	font-style: normal;
}

.page {
	max-width: 640px;
	margin: 0 auto;
}

.top {
	margin-top: 0.13rem;
}

.swiper-container-horizontal > .swiper-pagination {
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 4px;
}

.swiper-pagination-bullet {
	width: 0.12rem;
	height: 0.12rem;
	background-color: rgba(255, 255, 255, 0.6);
}

.swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 0.5;
}

.img-box {
	position: relative;
	width: 6.20rem;
	height: 2.82rem;
	background-color: #D7D7D7;
}

.img-b-box {
	position: relative;
	width: 6.40rem;
	height: 5.58rem;
	background-color: #D7D7D7;
}

.star-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 0.322rem;
	line-height: 0.322rem;
	background-color: #000;
	font-size: 0.28rem;
	color: #fff;
	z-index: 999;
	padding: 0 0.18rem;
}

.star-box .s {
	padding-right: 0.10rem;
	font-size: 0;
}

.star-box .s i {
	width: 0.18rem;
	height: 0.16rem;
	display: inline-block;
	background: url('../img/ico_restar_02.png') center no-repeat;
	background-size: 0.18rem 0.16rem;
	margin: 0 0.018rem;
	margin-bottom: 0.03rem
}

.star-box .s i.select {
	background: url('../img/ico_restar_01.png') center no-repeat;
	background-size: 0.18rem 0.16rem;
}

.star-box .t {
	letter-spacing: 0.04rem;
	font-size: 0.24rem;
}

.zan-box {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	height: 0.422rem;
	line-height: 0.422rem;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	font-size: 0.24rem;
	color: #fff;
	z-index: 1000;
	padding: 0 0.18rem;
}

.zan-box i {
	display: inline-block;
	width: 0.31rem;
	height: 0.30rem;
	line-height: 0.30rem;
	margin: 0 0.18rem 0 0;
	background: url('../img/ico_zan.png') no-repeat;
	background-size: 100%;
	vertical-align: text-top;
}

.zan-box i.select {
	background: url('../img/ico_zan_hover.png') no-repeat;
	background-size: 100%;
}


/*弹出框*/

.sw-dialog {
	background-color: #fff;
	border-radius: 6px;
	width: 280px;
}

.sw-dialog .title {
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
	background-color: #592d2d;
	border-radius: 6px 6px 0 0;
	color: #fff;
}

.sw-dialog .content {
	font-size: 16px;
	padding: 15px 8px;
}

.sw-dialog .button {
	border-top: 1px solid #adadad;
	border-radius: 0 0 4px 4px;
	display: box;
	display: -webkit-box;
}

.sw-dialog .button span {
	font-size: 18px;
	color: #483131;
	padding: 10px 0;
	display: block;
	box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	width: 100px;
}

.sw-dialog .button span:hover {
	background-color: #f1f1f1;
}
.banner h3 {
	font-size: 0.44rem;
	color: #424242;
	letter-spacing: 0.06rem;
	padding: 0.38rem 0.16rem 0.38rem 0.16rem;
}
.banner p {
	font-size: 0.34rem;
	color: #424242;
	padding: 0 0.16rem 0.78rem 0.16rem;
}
.order {
	position: fixed;
	bottom: 0.16rem;
	right: 0.16rem;
	z-index: 1000;
	width: 0.98rem;
	height: 0.98rem;
	background-color: rgba(0, 0, 0, 0.8);
	background: url("../img/ico_order_bg.png") no-repeat;
	background-size: 0.98rem;
	border-radius: 50%;
	display: none;
	-webkit-animation: go 2s infinite linear;
}
i.order-write {
	position: fixed;
	bottom: 0.44rem;
	right: 0.48rem;
	z-index: 1001;
	width: 0.365rem;
	height: 0.435rem;
	background: url("../img/ico_order.png") no-repeat;
	background-size: 0.365rem 0.435rem;
	display: none;
}

@-webkit-keyframes go {
	0% {
		-webkit-transform: rotate(360deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}