.banner-box {
	position: relative;
}

.column {
	margin-bottom: 1.74rem;
}

.column i {
	font-style: normal;
}

.column .nav {
	padding: 0 0.18rem;
}

.column .nav .title {
	color: #656565;
	font-size: 0.24rem;
}

.column .nav .box {
	font-size: 0.21rem;
	color: #fff;
	margin: 0.18rem 0;
	margin-left: 0.3rem;
}

.column .nav .box i {
	background-color: #a65ab4;
	text-align: center;
	border-radius: 0.12rem;
	padding: 0 0.18rem 0 0.42rem;
	margin-right: 0.54rem;
}

.column .com {
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	padding: 0 0.18rem;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #838383;
}

.column .com.location {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.column .com.location .distance {
	position: absolute;
	right: 0.18rem;
}

.column .com a {
	display: inline-block;
	color: #838383;
}

.column .info {
	height: 100%;
	font-size: 0.26rem;
	padding: 0.24rem;
	padding-bottom: 0.8rem;
	letter-spacing: 0.024rem;
}

.column .info h3 {
	font-size: 0.24rem;
	color: #000;
}

.column .info h3.c {
	color: #585858;
	margin-top: 0.2rem;
}

.column .info p {
	font-size: 0.21rem;
	color: #585858;
}

.column .head {
	position: relative;
	border-bottom: 0;
}

.column .head i:first-child {
	color: #ff4141;
	font-size: 0.24rem;
	color: #a65ab4;
}

.column .head span {
	background-color: #a65ab4;
	font-size: 0.24rem;
	color: #fff;
	border-radius: 50%;
	padding: 0.02rem 0.12rem;
	margin-left: 0.14rem;
}

.column .head i:last-child {
	position: absolute;
	right: 0.18rem;
	color: #505050;
	font-size: 0.21rem;
}

.column .icon i {
	display: inline-block;
	margin-right: 0.36rem;
	vertical-align: middle;
}

.column .icon i.save {
	width: 0.30rem;
	height: 0.30rem;
	background: url('../img/ico_save.png') no-repeat;
	background-size: 100%;
}

.column .icon i.call {
	width: 0.30rem;
	height: 0.30rem;
	background: url('../img/ico_call.png') no-repeat;
	background-size: 100%;
}

.column .icon i.adress {
	width: 0.30rem;
	height: 0.30rem;
	background: url('../img/ico_address.png') no-repeat;
	background-size: 100%;
}

.column .icon span.distance {
	margin-left: 0.14rem;
}

.column .icon.c {
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.column .btn {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #aba2b3;
	display: -webkit-box;
	display: box;
	padding: 0.34rem 0.4rem;
}

.column .btn div {
	position: relative;
	text-align: center;
}

.column .btn div.r {
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	text-align: left;
	font-size: 0.24rem;
	color: #595959;
}

.column .btn div.r i {
	display: inline-block;
	margin-right: 0.06rem;
	vertical-align: top;
	width: 0.30rem;
	height: 0.30rem;
	background: url('../img/ico_btn_location.png') no-repeat;
	background-size: 80%;
}

.column .btn div.r .distance1 {
	margin-right: 0.4rem;
}

.column .btn div.l a {
	background-color: #e14141;
	color: #fff;
	border-radius: 0.06rem;
	font-size: 0.29rem;
	position: absolute;
	top: -0.14rem;
	right: 0.7rem;
	width: 2.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
}
.column .btn div.l a.ph {
	background-color: #999;
	color: #fff;
}

.column .nav .box i {
	position: relative;
}

.column .nav .box i span {
	display: inline-block;
	position: absolute;
	left: -0.1rem;
	top: -0.04rem;
	width: 0.36rem;
	height: 0.36rem;
}

.column .nav .box i.shuangyu span {
	background: url('../img/xz/ico_shuangyu.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.shizi span {
	background: url('../img/xz/ico_shizi.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.mojie span {
	background: url('../img/xz/ico_mojie.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.tiancheng span {
	background: url('../img/xz/ico_tiancheng.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.jingniu span {
	background: url('../img/xz/ico_jingniu.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.shuangzi span {
	background: url('../img/xz/ico_shuangzi.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.sheshou span {
	background: url('../img/xz/ico_sheshou.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.chunv span {
	background: url('../img/xz/ico_chunv.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.juxie span {
	background: url('../img/xz/ico_juxie.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.baiyang span {
	background: url('../img/xz/ico_baiyang.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.shuiping span {
	background: url('../img/xz/ico_shuiping.png') no-repeat;
	background-size: 100%;
}

.column .nav .box i.tianxie span {
	background: url('../img/xz/ico_tianxie.png') no-repeat;
	background-size: 100%;
}