.bgcolor {
	background-color: #e5e5e5;
}

.form-review {
	background: #fff;
}

.form-review .img-box {
	position: relative;
	letter-spacing: 2px;
	padding: 0.08rem;
	padding-bottom: 0;
}

.form-review .img-box .star-box {
	padding: 0 0.18rem;
	font-size: 0.28rem;
	height: 0.4rem;
	line-height: 0.4rem;
	margin: 0.08rem;
}

.form-review .score-box .title {
	width: 0.8rem;
	height: 0.68rem;
	line-height: 0.68rem;
	float: left;
	text-align: center;
	font-size: 0.31rem;
	color: #5a5a5a;
	margin-right: 0.2rem;
}

.form-review .score-box {
	padding: 0 0.08rem;
}

.form-review .score-box .star {
	margin: 0.24rem 0;
}

.form-review .score-box .star i {
	padding: 0.30rem;
	margin: 0 0.05rem;
	display: inline-block;
	background: url('../img/ico_restar_03.png') center no-repeat;
	background-size: 0.48rem 0.46rem;
	border-radius: 0.12rem;
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.form-review .score-box .star i.select {
	background: url('../img/ico_restar_01.png') center no-repeat;
	background-size: 0.48rem 0.46rem;
}

.form-review .sign-box {
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	padding: 0 0.08rem;
	padding-bottom: 1rem;
}

.form-review .sign-box .title {
	width: 0.8rem;
	height: 0.68rem;
	line-height: 0.68rem;
	text-align: center;
	font-size: 0.31rem;
	color: #5a5a5a;
	margin-right: 0.2rem;
}

.form-review .sign-box .tip span {
	display: inline-block;
	color: #5a5a5a;
	font-size: 0.24rem;
	width: 1.085rem;
	height: 0.34rem;
	line-height: 0.34rem;
	background: url('../img/ico_btn_none.png') no-repeat;
	background-size: 100%;
	text-align: center;
	margin: 0.14rem 0.20rem;
}

.form-review .sign-box .tip span.select {
	background: url('../img/ico_btn_select.png') no-repeat;
	background-size: 100%;
	color: #fff;
}

.form-review .photo-box {
	position: relative;
	background: #fff;
	height: 1.13rem;
	margin-top: 0.38rem;
}

.form-review .photo-box .camera {
	position: absolute;
	right: 0.08rem;
	bottom: 0.08rem;
	width: 1.165rem;
	height: 1.165rem;
	background: url('../img/ico_camera.png') center no-repeat;
	background-size: 0.715rem 0.53rem;
	background-color: rgba(0, 0, 0, 0.04);
}

.btn-comment {
	margin: 0.4rem;
	background-color: #FFC600;
	border-radius: 0.06rem;
	text-align: center;
	font-size: 0.32rem;
	color: #fff;
	padding: 0.2rem;
}