.column {
	overflow: hidden;
	background-color: #fff;
	margin-top: 0.13rem;
	padding: 0.13rem;
	position: relative;
}

.column .shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 0.42rem;
}

.column .shadow div {
	width: 1.88rem;
	height: 0.6rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.column .tip span {
	font-size: 0.24rem;
	color: #504d4d;
	vertical-align: middle;
	margin: 0 0.10rem;
}

.column .tip span.bd {
	display: inline-block;
	font-size: 0.21rem;
	border-radius: 0.06rem;
	-webkit-border: 0.06rem;
	border: 1px solid #848484;
	padding: 0.02rem 0.08rem;
	color: #060606;
	margin: 0;
}

.column .tip .a {
	margin-top: 0.16rem;
	position: relative;
	height: 0.34rem;
}

.column .tip .a i {
	display: inline-block;
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50rem;
	-moz-border-radius: 50rem;
	background-color: #000;
	margin-bottom: 2px;
	margin-right: 0.06rem;
}

.column .tip .a i.i0 {
	display: none;
}

.column .tip .a em {
	position: absolute;
	right: 0.12rem;
	top: -0.54rem;
	font-size: 0.28rem;
	color: #FFF;
	font-style: normal;
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	border-radius: 50%;
}

.column .tip .b {
	position: relative;
	height: 0.3rem;
	margin-top: 0.16rem;
}

.column .tip .b em {
	position: absolute;
	right: 0;
	top: -0.04rem;
	font-style: normal;
	color: #504d4d;
}

.column .tip .b i {
	display: inline-block;
	width: 0.34rem;
	height: 0.36rem;
	margin: 0 0.14rem;
}

.column .tip .b i.phone {
	background: url('../img/ico_phone.png') no-repeat;
	background-size: 100%;
}

.column .tip .b i.wifi {
	background: url('../img/ico_wifi.png') no-repeat;
	background-size: 100%;
}

.column .tip .b i.of {
	background: url('../img/ico_of.png') no-repeat;
	background-size: 100%;
}

.column .tip .b i.smoke {
	background: url('../img/ico_smoke.png') no-repeat;
	background-size: 100%;
}

.column .tip .b i.people {
	background: url('../img/ico_people.png') no-repeat;
	background-size: 100%;
}