.bg {
	background: url('../img/bg_01.jpg');
	-moz-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #464646;
}

.review {
	padding: 0.52rem;
}

.review .re-box {
	background-color: #fff;
	border-radius: 0.42rem;
}
.review .re-box .img-bg {
	width: 5.36rem;
	height: 2.44rem;
	background-color: #D7D7D7;
	border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
}
.review .re-box img {
	border-top-left-radius: 0.42rem;
	border-top-right-radius: 0.42rem;
}

.review .re-box .tip-box {
	padding: 0.24rem 0.16rem;
	position: relative;
	letter-spacing: 0.02rem;
}

.review .re-box .line {
	height: 1px;
	background: url('../img/bg_line.png') repeat-x;
	background-size: 0.22rem 0.02rem;
}

.review .re-box .tip-box span {
	font-size: 0.24rem;
	color: #514f4f;
	vertical-align: middle;
	margin: 0 0.12rem;
}

.review .re-box .tip-box span.bd {
	display: inline-block;
	font-size: 0.21rem;
	border-radius: 0.06rem;
	-webkit-border: 0.06rem;
	border: 1px solid #848484;
	padding: 0 0.06rem;
	color: #060606;
	margin: 0;
	margin-right: 0.1rem;
}

.review .re-box .tip-box i {
	display: inline-block;
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50rem;
	-moz-border-radius: 50rem;
	background-color: #000;
	margin-bottom: 0.03rem;
	margin-right: 0.06rem;
}

.review .re-box .des-box h3 {
	text-align: center;
	font-size: 0.34rem;
	font-weight: lighter;
	color: #787878;
	padding: 0.16rem 0;
}

.review .re-box .des-box p {
	text-align: center;
}

.review .re-box .des-box p.bd {
	font-size: 0.28rem;
}

.review .re-box .des-box p.a {
	color: #020202;
	font-size: 0.31rem;
	letter-spacing: 2px;
	margin-top: 0.16rem;
}

.review .re-box .des-box .star {
	position: relative;
	height: 0.22rem;
}

.review .re-box .des-box .ly {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1.38rem;
	font-size: 0;
}

.review .re-box .des-box i {
	width: 0.24rem;
	height: 0.22rem;
	display: inline-block;
	background: url('../img/ico_restar_02.png') center no-repeat;
	background-size: 0.24rem 0.22rem;
	margin: 0 0.018rem;
}

.review .re-box .des-box i.select {
	background: url('../img/ico_restar_01.png') center no-repeat;
	background-size: 0.24rem 0.22rem;
}

.review .re-box .des-box p.b {
	text-align: center;
	font-size: 0.28rem;
	color: #f40919;
	margin: 0.4rem 0 0.1rem 0;
}

.review .re-box .des-box p.c {
	text-align: center;
	font-size: 0.28rem;
	color: #5a5a5a;
	padding: 0.4rem 0 0.28rem 0;
}

.review .re-box .des-box p:last-child {
	margin-bottom: 0.24rem;
}

.review .re-box .des-box p:last-child span {
	color: #919191;
	font-size: 0.26rem;
	background-color: #e5e5e5;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	padding: 0.02rem 0.2rem;
}

.review .re-box .item {
	font-size: 0.24rem;
	color: #595959;
	padding: 0.18rem 0.18rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	position: relative;
}
.review .re-box a.item {
	border-top: 1px solid rgba(0, 0, 0, 0.14);
}
.review .re-box .item.order-box{
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.review .re-box .item span:last-child {
	display: inline-block;
	position: absolute;
	right: 0.18rem;
}
.review .re-box .item span i {
	font-style: normal;
	vertical-align: middle;
}
.review .re-box .item span i:first-child {
	display: inline-block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	width: 3rem;
	vertical-align: middle;
	text-align: right;
    padding-right: 0.04rem;
}
.review .re-box .item .adr {
	position: absolute;
	right: 0.9rem;
}

.review .re-box .btn-box {
	text-align: center;
	font-size: 0.28rem;
	padding: 0.24rem 0;
}

.review .se-box {
	background: #f2f2f2;
	text-align: center;
	font-size: 0.28rem;
	padding: 0.24rem 0;
	border-radius: 0.28rem;
	-webkit-border-radius: 0.28rem;
	margin-top: 0.16rem;
	color: #393939;
}

.review .tip-box i.i0 {
	display: none;
}

.review .dialog-box {
	display: none;
}

.loading-mask {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.loading-mask img {
	position: fixed;
	top: -1.6rem;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.review .dialog-share {
	background-color: #efeff4;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 0.14rem;
	border-top-left-radius: 0.08rem;
	border-top-right-radius: 0.08rem;
	padding: 0.44rem 0 0 0;
	z-index: 999;
}

.review .dialog-ico {
	display: -webkit-box;
	display: box;
}

.review .dialog-ico div {
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	text-align: center;
}

.review .dialog-ico img {
	width: 1.12rem;
	height: 1.12rem;
	display: inline-block;
}

.review .dialog-ico p {
	font-size: 0.244rem;
	font-weight: lighter;
	color: #2c2c2c;
}

.review .dialog_cancle {
	color: #ff5555;
	margin: 0.26rem 0.2rem 0 0.2rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 0.32rem;
	padding: 0.28rem 0;
}