<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="data-sw-title" content="好位好口味"/>
	    <meta name="data-sw-content" content="吃饭可以选座啦，你也来试试"/>
	    <meta name="data-sw-url" content="saowei/index.html"/>
	    <meta name="data-sw-icon" content="saowei/img/ico_logo.png"/>
		<title>...</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico" />
		<link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/detail.css" />
		<style></style>
		<script src="js/baiduTemplate.js"></script>
		<script src="js/sw-lib.js"></script>
		<script src="js/count-baidu.js"></script>
		<script>
			sw.initPage(640);
		</script>
	</head>

	<body>
		<div class="page">
			<!--banner start-->
			<div class="banner-box">
				<div class="star-ly">
					<script type="text/template" id="star">
					<div class="star-box">
							<span class="t"><%=data.table_num%> | <%=data.people_num%>人</span>
					</div>
					</script>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!--banner end-->

			<!--column start-->
			<div class="column">
				<script type="text/template" id="column">
					<div class="com head">
						<i><%=data.look_num%>人浏览中...</i></div>
						<a href="tel:<%=data.phone%>" onclick="_hmt.push(['_trackEvent', 'saowei', 'btn', 'phone']);"  class="com icon"><i class="call"></i><%=data.phone%></a>
						<a class="com icon location" href="baidu-location.html?lng2=<%=data.lng%>&lat2=<%=data.lat%>">
						<lat2 style="display: none;">
							<%=data.lat%>
						</lat2>
						<lng2 style="display: none;">
							<%=data.lng%>
						</lng2><i class="adress"></i>
						<%=data.address%></a>
					<div class="info">
						<h3>使用规则</h3>
						<p>1、免费使用</p>
						<p>2、即时入座</p>
						<h3 class="c">[特别提示]</h3>
						<p>1、倒计时结束前请及时入座</p>
						<p>2、倒计时完毕，商家有权调整入座次序或桌号</p>
						<p>3、建议即时到店前使用（适合1000米以内）</p>
					</div>
					<div class="btn">
						<div class="r"><i></i><span class="distance1">...m</span><span>[ 
							留座 
							<%
							var maxtime = data.state_time/1000;
							if (maxtime >= 0) {
							minutes = Math.floor(maxtime / 60);
							seconds = Math.floor(maxtime % 60);
							minutes = minutes<10?"0"+ minutes: minutes;
							seconds = seconds<10?"0"+ seconds: seconds;
							msg = minutes + ":" + seconds;
							%>
							<%=msg%>
						<%
						}else{
							msg = "00:00";
						%>
							<%=msg%>
						<%}%>
						 ]</span></div>
						<div class="l free-btn">
				    	   	  	<%if(data.state!=1){%>
                                <a class="sd" href="javascript:">免费闪订</a>
						    <%}else{%>
						        <a class="ph" href="javascript:">已闪定</a>  
						    <%}%>
						</div>
					</div>
				</script>
			</div>
			<!--column end-->

		</div>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/weixinShare.js"></script>
		<script src="bower_components/Swiper/dist/js/swiper.min.js"></script>
		<script>
	   //内页－商家详情
	    var Detail = {
	        shopId: sw.fn.getUrlParam("shopId"),
	        tableId: sw.fn.getUrlParam("tableId"),
	        openId: sw.fn.openId(),
	        _openId: sw.cookie.getCookie("openId"),
	    };
	    //手机是否支持定位
	    Detail.getLocation = function(){
	    	  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(Detail.showPosition);
			} else {
				sw.ui.tooltip({
		        content:"客官，请开启您手机的定位功能!",
		        callback: function () {
		        }
	            });
			}
	    }
	    //消费者与商家之前的距离(m)
		Detail.showPosition = function(position) {
			var lat1 = parseFloat(position.coords.latitude);
			var lng1 = parseFloat(position.coords.longitude);
			var lat2 = parseFloat($("lat2").text());
			var lng2 = parseFloat($("lng2").text());
			var distance = sw.fn.getFlatternDistance(lat1, lng1, lat2, lng2);
			$(".distance1").text(parseInt(distance) + "m");
		}
		
	    //初始化数据
	    Detail.initLoad = function(){
		    var img_list = "";
			$.ajax({
				url: sw.baseHref + "api/h5/tableInfo/detail?tableId=" + Detail.tableId,
				type: 'post',
				cache: false,
				dataType: 'json',
				beforeSend : function(XMLHttpRequest) {
					sw.ui.loading("show");
				 },
				success: function(item) {
					if(item.code == 1005) {
						sw.ui.tooltip({
				        content:"客官，等一会儿，店小儿不在…",
				        callback: function () {
				        }
			            });
						return false;
					};
					for (var i = 0; i < item.data.img_list.length; i++) {
						img_list += '<div class="swiper-slide img-box"><img src="'+item.data.img_list[i]+'?imageView2/1/w/640/h/292" alt="" /></div>';
					}
					$(".swiper-wrapper").html(img_list);
					//初始化控件
					var mySwiper = new Swiper('.swiper-container', {
						loop: true,
						updateOnImagesReady: true,
						pagination: '.swiper-pagination'
					});
					var star = baidu.template('star', item); //星级
					var column = baidu.template('column', item); //内容
					$(".star-ly").html(star);
					$(".column").html(column);
                    sw.fn.setTitle(item.data.name);
					Detail.getLocation(); //定位
				},
				complete : function(XMLHttpRequest, textStatus) {
					sw.ui.loading("hide");
				},
				error: function() {
					sw.ui.tooltip({
				        content:"客官，等一会儿，店小儿不在…",
				        callback: function () {
				        }
			        });
				}
			});
	    }
	    //点击事件
	    Detail.btnEvent = function(){
		    $("body").on('touchend', "div.free-btn .sd", function () {
		      	_hmt.push(['_trackEvent', 'saowei', 'btn', 'shanding']);  //百度统计
		    	     if(Detail._openId){
		    	     	sw.ui.tooltip({
				        content:"兄台，请把机会留给别人吧!(3小时后)~",
				        callback: function () {
				        }
			         });
			         return false;
		    	     }
				  sw.ui.dialog({
					type:2,
					title:'客观须知',
					content:"<center>入座倒计时结束后该订单失效,请注意好时间哦!</center>",
					labelOk: "确定",
		            labelCancel: "取消",
					callbackOk:function(){
						 $.ajax({
							url: sw.baseHref + "api/h5/order/create?tableId=" + Detail.tableId+"&openId="+Detail.openId,
							type: 'post',
							cache: false,
							dataType: 'json',
							success: function(item) {
								if(item.code == 1005) { //系统错误
									sw.ui.tooltip({
							        content:"客官，等一会儿，店小儿不在…",
							        callback: function () {
							        }
						            });
									return false;
								}else if(item.code == 1000) {  //闪定成功
									sw.cookie.setCookie("shopId",Detail.shopId);
									sw.cookie.setCookie("openId",Detail.openId,3*60*60);//记录openId,有效期3小时
									sw.cookie.setCookie("id",item.data,3*60*60);//id,有效期3小时
									window.location.href="review.html?shopId="+ Detail.shopId +"&id="+item.data+"&openId="+Detail.openId;
								};
							},
							error: function() {
								sw.ui.tooltip({
							        content:"客官，等一会儿，店小儿不在…",
							        callback: function () {
							        }
						         });
						         return false;
							}
						}); 
					},
					callbackCancel: function (){
		                sw.ui.dialog('close');
		           }
				});
			});
	    }
	     //运行
	    Detail.start = function(){
	        Detail.initLoad();
	        Detail.btnEvent();
	    }
	    $(function () {
	        Detail.start();
	    });
	</script>
	</body>
</html>