<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="data-sw-title" content="好位好口味"/>
	    <meta name="data-sw-content" content="吃饭可以选座啦，你也来试试"/>
	    <meta name="data-sw-url" content="saowei/index.html"/>
	    <meta name="data-sw-icon" content="saowei/img/ico_logo.png"/>
		<title>...</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico" />
		<link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/form-review.css" />
		<style></style>
		<script src="js/baiduTemplate.js"></script>
		<script src="js/common.js"></script>
		<script src="js/sw-lib.js"></script>
		<script src="js/count-baidu.js"></script>
		<script>
			common.initPage(640);
		</script>
	</head>

	<body class="bgcolor">
		<div class="page">
			<!--form-review start-->
			<div class="form-review">
				<!-- img-box start-->
					<div class="img-box">
						<script type="text/template" id="form-review">
							<div class="star-box">
								<%=data.table_num%>号桌</div>
							<img src="<%=data.img_url%>?imageView2/1/w/640/h/292" />
						</script>
					</div>
				<!-- img-box end-->
				<div class="score-box">
					<div class="title">综合</div>
					<div class="star">
						<i class="select"></i>
						<i class="select"></i>
						<i class="select"></i>
						<i class="select"></i>
						<i></i>
					</div>
				</div>
				<!--sign start-->
				<div class="sign-box">
					<div class="title">标签</div>
					<div class="tip">
						<span class="select">舒适</span>
						<span>惬意</span>
						<span>浪漫</span>
						<span class="select">靠窗</span>
						<span class="select">幸运</span>
						<span>情侣</span>
						<span class="select">私密</span>
						<span>热闹</span>
					</div>
				</div>
				<!--sign end-->
				<!--<div class="photo-box">
					<div class="camera"></div>
				</div>-->
			</div>
			<div class="btn-comment">发 布</div>
			<!--form-review end-->
		</div>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/weixinShare.js"></script>
		<script type="text/javascript">
			var shopId = common.getUrlParam("shopId");
			var tableId = common.getUrlParam("tableId");
			$.ajax({
				url: common.baseHref() + "api/h5/tableInfo/info?tableId=" + tableId,
				type: "post",
				cache: false,
				dataType: "json",
				beforeSend : function(XMLHttpRequest) {
					sw.ui.loading("show");
				 },
				success: function(item) {
					//系统错误
					if (item.code == 1005) {
						sw.ui.tooltip({
					    content:"客官，等一会儿，店小儿不在…",
					    callback: function () {
					   }
				     });
						return false;
					};
					//模版引擎
					innerHtml = baidu.template("form-review", item);
					//hack在微信等webview中无法修改document.title的情况
                    common.setTitle(item.data.name);
					$(".img-box").html(innerHtml);
				},
		      complete : function(XMLHttpRequest, textStatus) {
				sw.ui.loading("hide");
			  },
				error: function() {
					sw.ui.tooltip({
					    content:"客官，等一会儿，店小儿不在…",
					    callback: function () {
					  }
				  });
				}
			});
		</script>
		<script type="text/javascript">
			$(".btn-comment").bind("click",function(){
				var star = getStar();
				var labels = getLabels();
				$.ajax({
				url: common.baseHref() + "api/h5/order/submit?shopId=" + shopId +"&tableId="+tableId+"&star="+star+"&labels="+labels,
				type: "post",
				cache: false,
				dataType: "json",
				success: function(item) {
					sw.ui.tooltip({
			        content:item.data,
			        callback: function () {
			        }
                  });
				},
				error: function() {
					sw.ui.tooltip({
			        content:"客官，等一会儿，店小儿不在…",
			        callback: function () {
			        }
                  });
				}
			});
			});
			
		</script>
		<script type="text/javascript">
			$(".star i").bind("touchend",function(){
				$(".star i").removeClass("select");
				for(var i = 0;i<$(this).index()+1;i++){
					$(".star i").eq(i).addClass("select");
				}
			});
			$(".sign-box .tip span").bind("touchend",function(){
				$(this).toggleClass("select");
			});
			//返回星级
			function getStar(){
				var num = 0;
				$(".star i").each(function(){
					if($(this).hasClass("select") == true){
						num ++;
					}
				});
				return num;
			}
			//返回评价标签
			function getLabels(){
				var labels = "";
				$(".sign-box .tip span").each(function(){
					if($(this).hasClass("select") == true){
						labels += $(this).index()+",";
					}
				});
				return labels.replace(/,$/g,"");
			}
		</script>
	</body>

</html>