<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="data-sw-title" content="好位好口味"/>
	<meta name="data-sw-content" content="吃饭可以选座啦，你也来试试"/>
	<meta name="data-sw-url" content="saowei/index.html"/>
	<meta name="data-sw-icon" content="saowei/img/ico_logo.png"/>
    <title>...</title>
    <link rel="bookmark" href="favicon.ico"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/baiduTemplate.js"></script>
	<script src="js/sw-lib.js"></script>
	<script src="js/count-baidu.js"></script>
    <style></style>
    <script>
        sw.initPage(640);
    </script> 
</head>
<body>
<div class="page" id="page">
	<div class="banner">
		<div class="img-b-box">
			<img src="http://7xr7wh.com1.z0.glb.clouddn.com/201622794918.jpg?imageView2/1/w/640/h/558" />
		</div>
		<h3>Hi, 先生 / 小姐</h3>
		<p>我们为您提供餐厅最独特的位子。。。</p>
    </div>
    <div class="content">
		<script type="text/template" id="teamList">
	       <%for(var i = 0; i<data.dataList.length;i++){
			  var item = data.dataList[i];
			%>
	    <!--column start-->
	    <a class="column" id ="<%=item.id%>" href="detail.html?shopId=<%=sw.fn.getUrlParam('shopId')%>&tableId=<%=item.id%>">
		   <div class="shadow" <%if(item.state == 0){%>style="display:none"<%}%>><div>已闪定</div></div>
	    	   <!-- img start-->
	    	   <div class="img-box">
	    	   	  <div class="star-box">
	    	   	  	<span class="t"><%=item.table_num%> | <%=item.people_num%>人</span> 
	    	   	  </div>
	    	   	  <div class="zan-box">
	    	   	  	<i></i> <span><%=item.like_count%></span> 
	    	   	 </div>
	    	   	 <img src="<%=item.img_url%>?imageView2/1/w/640/h/292" />
	    	   </div>
	    	   <!-- img end-->
	    	   <!--tip start-->
	    	   <div class="tip">
	    	   	<%if(item.tip_list!=null){%>
	    	   	<div class="a">
	    	   		 <%for(var t = 0; t< item.tip_list.length ;t++){%>
	    	   	  	     <i class="i<%=t%>"></i><span><%=item.tip_list[t]%></span>
	    	   	  	 <%}%>
	    	   	</div>
	    	   	<%}%>
	    	   	<%if(item.fun_list!=null){%>
	    	   	<div class="b">
	    	   		   <%for(var y = 0; y < item.fun_list.length ;y++){%>
	    	   			  <i class="<%=sw.fn.getFun(item.fun_list[y])%>"></i>
	    	   		   <%}%>
	    	   	</div>
	    	   	<%}%>
	    	   </div>
	    	   <!--tip end-->
	    </a>
	    <%}%>
	    <i class="order-write"></i><div class="order"></div>
	    <!--column end-->
	  </script>
	</div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/weixinShare.js"></script>
<script>
   //首页
    var Index = {
    	    channel: sw.fn.getUrlParam("channel"),
        shopId: sw.fn.getUrlParam("shopId"),
        openId: sw.cookie.getCookie("openId"),
        id: sw.cookie.getCookie("id")
    };
    Index.hideBanner = function() {
    	  if(Index.channel == 1){
    	  	$(".banner").hide();
    	  }else {
    	  	$(".banner").show();
    	  }
    }
    //初始化数据
    Index.initLoad = function(){
	    $.ajax({  
	     url: sw.baseHref + "api/h5/tableInfo/list?shopId=" + Index.shopId,  
	     type:"post",  
	     cache:false,  
	     dataType:"json",  
	     beforeSend : function(XMLHttpRequest) {
			sw.ui.loading("show");
		 },
	     success:function(item) { 
	     	if(item.code == 1005) { //系统错误
	     		sw.ui.tooltip({
		        content:"客官，等一会儿，店小儿不在…",
		        callback: function () {
		        }
	            });
				return false;
			};
	         $(".content").html(baidu.template("teamList",item));
	         if(Index.openId){
	         	$(".order").show();
	         	$("i.order-write").show();
	         } 
	         sw.fn.setTitle(item.data.dataList[0].name); //设置标题
	      },
	      complete : function(XMLHttpRequest, textStatus) {
			sw.ui.loading("hide");
		  },
	      error : function() {  
	           sw.ui.tooltip({
		        content:"客官，等一会儿，店小儿不在…",
		        callback: function () {
		        }
	            });
	      }  
	 });
    }
    //轮询，位子是否被闪定,间隔1秒
    Index.startAnimate = function(){
	    setInterval(function(){
		   $.ajax({  
		     url: sw.baseHref + "api/h5/tableInfo/list?shopId=" + Index.shopId,  
		     type:'post',  
		     cache:false,  
		     dataType:'json',  
		     success:function(item) {
		     	//系统错误
		     	if(item.code == 1005) {
		     		sw.ui.tooltip({
			        content:"客官，等一会儿，店小儿不在…",
			        callback: function () {
			        }
		            });
					return false;
				};
		     	$(".column").each(function(){
		     		var this_id = $(this).attr("id");
		           for(var i = 0; i<item.data.dataList.length; i++){
		           	   if(this_id == item.data.dataList[i].id){
		           	   	  //是否被闪订
		           	   	  if(item.data.dataList[i].state == 0){
		           	   	  	$(this).find(".shadow").hide();
		           	   	  }else {
		           	   	  	$(this).find(".shadow").show();
		           	   	  }
		           	   }
		     	    }
		        });
		      },  
		      error : function() {  
		           sw.ui.tooltip({
			        content:"客官，等一会儿，店小儿不在…",
			        callback: function () {
			        }
		            }); 
		      }  
		 });   
		}, 1000);
    }
    //点击事件
    Index.btnEvent = function(){
	    $("body").on('touchend', "div.zan-box", function (event) {
			var id = $(this).parent().parent().attr('id');
			var span_num = $(this).find('span');
			var before_like_all = $(this).find('span').text();
			var isSelect = $(this).find('i').hasClass("select");
			$(this).find('i').toggleClass("select");
			var value = (isSelect) ?value=-1:value=1;
			$.ajax({  
		     url: sw.baseHref + "api/h5/tableInfo/like?tableId="+id +"&value="+value,  
		     type:"post",  
		     cache:false,  
		     dataType:"json",  
		     success:function(item) { 
		     	//系统错误
		     	if(item.code == 1000) {
		     		span_num.text((parseInt(before_like_all)+value));
				};
		      }, 
		      error : function() {  
		          sw.ui.tooltip({
			        content:"客官，等一会儿，店小儿不在…",
			        callback: function () {
			        }
                  }); 
		      }  
		 });
			event.preventDefault();
			event.stopPropagation();
		});
		$("body").on('touchend', "div.order,i.order-write", function (event) {
			window.location.href="review.html?shopId="+Index.shopId+"&id="+Index.id+"&openId="+Index.openId;
		    event.preventDefault();
			event.stopPropagation();
		});
    }
     //运行
    Index.start = function(){
      	Index.hideBanner();
        Index.initLoad();
        Index.startAnimate();
        Index.btnEvent();
    }
    $(function () {
        Index.start();
    });
</script>

</body>
</html>