<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="data-sw-title" content="好位好口味"/>
		<meta name="data-sw-content" content="吃饭可以选座啦，你也来试试"/>
		<meta name="data-sw-url" content="saowei/review.html"/>
		<meta name="data-sw-icon" content="saowei/img/ico_logo.png"/>
		<title>...</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico" />
		<link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/review.css" />
		<style></style>
		<script src="js/baiduTemplate.js"></script>
		<script src="js/sw-lib.js"></script>
		<script src="js/count-baidu.js"></script>
		<script>
			sw.initPage(640);
		</script>
	</head>

	<body class="bg">
		<div class="page">
			<script type="text/template" id="review">
			<!--review start-->
			<div class="review">
				<div class="re-box">
					<div class="img-bg"><img src="<%=data.img_url%>?imageView2/1/w/640/h/292"></div>
					<div class="tip-box">
						<%if(data.tip_list !=null){%>
							<%for(var t = 0; t< data.tip_list.length ;t++){%>
				    	   	  	     <i class="i<%=t%>"></i><span><%=data.tip_list[t]%></span>
				    	   	  	<%}%>
			    	   	  	 <%}%>
					</div>
					<div class="line"></div>
					<div class="des-box">
						<h3><%=data.name%></h3>
						<p class="a"><%=data.table_num%></p>
						<p class="bd"><%=data.people_num%>人</p>
						<p class="c">留座倒计时： <span class="state_time">..:..</span></p>
						<p>
						<%if(data.wifi_pass){%>
							<span>Wi-Fi密码： <%=data.wifi_pass%></span>
			    	   	  	 <%}%>
			    	   	  	 </p>
						
					</div>
					<a class="item address-box" href="baidu-location.html?lng2=<%=data.lng%>&lat2=<%=data.lat%>"><lat2 style="display: none;"><%=data.lat%></lat2><lng2 class="lng2" style="display: none;"><%=data.lng%></lng2><span>商户地址</span><span><i><%=data.address%></i><i class="distance">(...m)</i></span></a>
					<div class="item time-box"><span>闪订时间</span><span><%=data.time%></span></div>
					<div class="item order-box"><span>订单号</span><span><%=data.order_num%></span></div>
					<div class="btn-box">分 享</div>
				</div>
               <!--/view end-->
               <div class="dialog-box">
               	   <div class="loading-mask">
               	   	<img src="img/share_zhezao.png">
               	   </div>
				</div>
		    </script>
		</div>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/weixinShare.js"></script>
		<script>
	   //我的订单
	    var Review = {
	      	id: sw.fn.getUrlParam("id")||sw.cookie.getCookie("id"),
	        openId: sw.fn.getUrlParam("openId")||sw.cookie.getCookie("openId")
	    };
	    //手机是否支持定位
	    Review.getLocation = function(){
	    	  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(Review.showPosition);
			} else {
				sw.ui.tooltip({
		        content:"客官，请开启您手机的定位功能!",
		        callback: function () {
		        }
	            });
			}
	    }
	    //消费者与商家之前的距离(m)
		Review.showPosition = function(position) {
			var lat1 = parseFloat(position.coords.latitude);
			var lng1 = parseFloat(position.coords.longitude);

			var lat2 = parseFloat($("lat2").text());
			var lng2 = parseFloat($("lng2").text());
			var distance = sw.fn.getFlatternDistance(lat1, lng1, lat2, lng2);
			$(".distance").text("("+parseInt(distance) + "m)");
		}
		
	    //初始化数据
	    Review.initLoad = function(){
			$.ajax({
				url: sw.baseHref + "api/h5/order/detail?id="+Review.id +"&openId="+Review.openId,
				type: "post",
				cache: false,
				dataType: "json",
				beforeSend : function(XMLHttpRequest) {
					sw.ui.loading("show");
				},
				success: function(item) {
					//系统错误
					if (item.code == 1005) {
						sw.ui.tooltip({
					        content:"客官，等一会儿，店小儿不在…",
					        callback: function () {
					        }
						});
				    }
					//模版引擎
					innerHtml = baidu.template("review", item);
					$(".page").html(innerHtml);
                    sw.fn.setTitle(item.data.name);
					//倒计时
					var maxtime = item.data.state_time/1000;
					timer = setInterval(function(){
						if (maxtime >= 0) {
							minutes = Math.floor(maxtime / 60);
							seconds = Math.floor(maxtime % 60);
							minutes = minutes<10?"0"+ minutes: minutes;
							seconds = seconds<10?"0"+ seconds: seconds;
							msg = minutes + ":" + seconds;
							$(".state_time").text(msg);
							--maxtime;
						}else{
							clearInterval(timer);
							$(".state_time").text("计时结束");
						}
					}, 1000);
					//获取定位
					Review.getLocation(); //定位
				},
				complete : function(XMLHttpRequest, textStatus) {
					sw.ui.loading("hide");
				},
				error: function() {
					sw.ui.tooltip({
			        content:"客官，等一会儿，店小儿不在…",
			        callback: function () {
			        }
                  });
				}
			});
	    }
	    //点击事件
	    Review.btnEvent = function(){
		   $("body").on('touchend', "div.btn-box", function (event) {
				$(".dialog-box").show();
				event.preventDefault();
				event.stopPropagation();
			});
			$("body").on('touchend', "div.loading-mask", function () {
				$(".dialog-box").hide();
				return false;
			});
	    }
	     //运行
	    Review.start = function(){
	        Review.initLoad();
	        Review.btnEvent();
	    }
	    $(function () {
	        Review.start();
	    });
	</script>
	</body>
</html>